<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.majiang.mapper.UserMapper">
	<resultMap type="com.majiang.entity.User" id="userMap">
		<result column="id" property="id"/>
		<result column="name" property="name"/>
	</resultMap>
	<insert id="insertUser" useGeneratedKeys="true" keyProperty="id">
		insert into t_user (name
		<if test="password != null">,password</if>
		)values(#{name}<if test="password != null">,#{password}</if>)
	</insert>
	
	<update id="updateUser" parameterType="com.majiang.entity.User" >
		update t_user
		<set>
			<if test="name != null">
				name = #{name},
			</if>
			<if test="password != null">
				password = #{password}
			</if>
		</set>
		where id = #{id}
	</update>
	
	<sql id="userSql">
		id,name
	</sql>
	
	<select id="getUserByName" parameterType="String" resultMap="userMap">
		select <include refid="userSql" /> from t_user where name = #{name} 
	</select>
	
	<select id="getUserByNameWithPassword" parameterType="String" resultType="com.majiang.entity.User">
		select id,name,password from t_user where name = #{name} 
	</select>
	
	<select id="getUserById" parameterType="int" resultMap="userMap">
		select <include refid="userSql" />d from t_user where id = #{id} 
	</select>
	
	<select id="getUsersByPage" parameterType="map" resultMap="userMap">
		select <include refid="userSql" /> from t_user limit #{start},#{size} 
	</select>
</mapper>